<div class="container">
   <div class="container-header">
      <h1>Flight Simulator</h1>
      <h2>Current Flight Status</h2>
      <p>{{status}}</p>
      <h2>Shuttle Trajectory</h2>
   </div>
   <div class="row justify-content-center">
      <div class="col-3">
         <div class="container-left">
            <h3>Fuel Levels</h3>
            <p>Tank Full</p>
            <h3>Astronaut Chat</h3>
            <p>Houston, we are ready when you are!</p>
         </div>
      </div>

      <div class="col-6">
         <div class="shuttle-background" [style.background-color]="color">
            <img src="assets/images/LaunchCode_rocketline_white.png" height="75" width="75" [style.left]="horizontal"
               [style.bottom]="vertical" />
         </div>
      </div>

      <div class="col-3">
         <div class="container-right" b>
            <div *ngIf="takneOff">
               <button (click)="up()">Up</button>
               <button (click)="down()">Down</button>
               <button (click)="right()">Right</button>
               <button (click)="left()">Left</button>
            </div>
            <h3>Space Shuttle Height</h3>
            <p>{{height}} km</p>
         </div>
      </div>
   </div>
   <div class="container-control-buttons">
      <button (click)="takeOff()" [disabled]="takneOff">Take Off</button>
      <button (click)="land()" [disabled]="!takenOff">Land</button>
      <button (click)="abortMission()" [disabled]="!takenOff">Abort Mission</button>
   </div>
</div>